<div class="masthead">
  <div class="section-title"> 
   <section class="page-section bg-light" id="education">
 
    
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Education</h2>
          </div>
        <div class="shs">
          <h3>SENIOR HIGH SCHOOL</h3>
          
            <h4>SYSTEMS PLUS COLLEGE FOUNDATION</h4>
            <h5>2018 - 2020</h5>
            <p>Sta. Isabel Bldg., Balibago, Angeles City</p>
          </div>
         
          <div class="ter">
            <h3 class="terr">TERTIARY</h3>
            <h4>HOLY ANGEL UNIVERSITY</h4>
            <h5>2020 - Present</h5>
            <p><em>#1 Holy Angel Avenue, Sto. Rosario,
              Angeles City, Philippines 2009 </em></p>

 </div>
 
  </div>
  </section>
    
    