.masthead {
    
    padding-top: 10.5rem;
    padding-bottom: 35rem;
    text-align: center;
    background-image: url("src/assets/img/about/5.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    color: aliceblue;
  }

h2{
    text-align: left;
    margin-left: 10%;
    margin-top: -4%;
    font-size: 3rem;
}


.shs{
    position: absolute;
    font-size: 1.2em;
    margin-top: 6%;
    margin-left: 10%;
   text-align: left;
}

.ter{
    position: absolute;
    font-size: 1.2em;
    margin-top: 6%;
    margin-left: 50%;
   text-align: left;
}


