<div class="masthead">
    <div class="section-title"> 
     <section class="page-section bg-light" id="achievements">
   
      
      <div class="container">
          <div class="text-center">
              <h2>Achievements</h2>
            </div>
           
            <div class="dean1">
              <h4 class="terr">SCHOOL YEAR </h4>
              <h3>2021 - 2020</h3>
              <h3>First Semester</h3>
              <h3>Deans Lister</h3>
   </div>
   <div class="dean2">
    <h4 class="terr">SCHOOL YEAR </h4>
    <h3>2021 - 2020</h3>
    <h3>Second Semester</h3>
    <h3>Deans Lister</h3>
   
</div>
    </div>
    </section>
